











@media screen and (min-width: 24.375em) {
  .legal .legal__links {
    margin-left: auto;
  }
}


.section-title {
  width: 100%;
  white-space: nowrap;
  font-family: "Raleway", system-ui;
  font-weight: 900;
  font-style: normal;
  font-size: 5rem;
  text-align: center;
  letter-spacing: 1.5rem;
  color: #fff;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}
