#auth__ {
  width: 40dvw;
  height: 70dvh;
  background-color: white;
  box-shadow: 0 0.3rem 0.9rem rgba(0, 0, 0, 0.2);
  position: fixed;
  bottom: 15px;
  right: 15px;
  z-index: 5;
  display: none;
}
