<section class="contact-area">
  <form class="contact-area--form">
    <h2 class="section-title">Entre em contato</h2>
    <input type="text" placeholder="Nome" />
    <input type="text" placeholder="Email" />
    <textarea placeholder="Mensagem"></textarea>
    <button class="contact-area--form-button">Enviar</button>
  </form>

  <section class="contact-area-img--container">
    <img
      src="monaliza.jpg"
      alt=""
      class="contact-area-img--monaliza"
      loading="lazy"
    />
    <img
      src="estatua-olho-riscado.png"
      alt=""
      class="contact-area-img--estatua"
      loading="lazy"
    />
  </section>
  <form class="contact-area--form">
    <h2 class="section-title">Assine nossa newsletter</h2>
    <p>
      Cadastre-se para receber novidades. <span>É gratuito</span> e pode
      cancelar a qualquer momento
    </p>
    <input type="text" placeholder="Nome" />
    <input type="text" placeholder="Email" />
    <button class="contact-area--form-button">Assinar</button>
  </form>
</section>