<section id="about__">
  <img
    src="folha-amassada.jpg"
    alt="Folha amassada com o texto sobre a agência de marketing."
    class="about__background"
  />
  <section class="about__hero_images_container">
    <img
      src="coffee-branch.png"
      alt="Galho de café usado para se referir ao uma coroa de folhas"
      class="about__hero_image__coffee_branch"
      id="serviceCompImgLeft"
    />
    <img
      src="estatua-default.png"
      alt="Estátua grega vinculada ao estilo vaporwave minimalista"
      class="about__hero_image__statue"
      id="serviceCompImgLeft"
    />
  </section>
  <article class="about__marketing_agency">
    <h2 class="about__marketing_agency__title">
      Vamos dar um JUMP na sua empresa?
    </h2>
    <p class="about__marketing_agency__context">
      Fundada em 2024, nossa agência de marketing é jovem, descontraída e
      profissional. Oferecemos soluções criativas e inovadoras para impulsionar
      sua marca. Especialistas em SEO, redes sociais e campanhas digitais,
      garantimos resultados eficazes e crescimento contínuo para o seu negócio.
      🚀
    </p>
  </article>
</section>
