#feedback__ {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 5dvw 0;
  gap: 3rem;

  .feedback__numbers_container {
    flex: 1 1 400px;
    width: 100%;
    max-width: 620px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 2rem 1rem;

    .feedback__numbers_card {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .feedback__numbers_card__number {
        font-family: "Raleway", sans-serif;
        font-weight: 900;
        font-size: 3rem;
        color: var(--obsidian-600);
      }

      .feedback__numbers_card__description {
        font-family: "Raleway", sans-serif;
        font-size: 1rem;
        color: var(--obsidian-500);
      }
    }
  }

  .feedback__analytics_explain {
    flex: 1 1 400px;
    max-width: 620px;
    padding: 0 2rem;

    .feedback__analytics_explain__title {
      font-family: "Raleway", system-ui;
      font-weight: 900;
      font-style: normal;
      font-size: 3rem;
      background: linear-gradient(90deg, #8b2ce3 0, #ff3295 100%);
      -webkit-background-clip: text;
      text-align: center;
      text-fill-color: transparent;
      -webkit-text-fill-color: transparent;
      background-size: 200% auto;
    }

    .feedback__analytics_explain__description {
      font-family: "Raleway", sans-serif;
      font-size: 1rem;
      color: var(--obsidian-600);
      margin-top: 30px;
    }
  }

  @media screen and (max-width: 700px) {
    .feedback__numbers_card__number {
      text-align: center;
    }
  }
}
