<section id="feedback__">
  <section class="feedback__numbers_container">
    @for (number of numbers; track $index) {
    <article class="feedback__numbers_card">
      <p class="feedback__numbers_card__number">
        {{ number.number }}{{ number.sufix }}
      </p>
      <span class="feedback__numbers_card__description">{{
        number.description
      }}</span>
    </article>
    }
  </section>
  <section class="feedback__analytics_explain">
    <span class="feedback__analytics_explain__title"> Nosso compromisso </span>
    <p class="feedback__analytics_explain__description">
      Nosso compromisso é com a excelência no trabalho e com o sucesso dos
      nossos clientes. Estamos comprometidos em trabalhar com você de forma
      colaborativa para entender seus objetivos e criar uma estratégia que os
      alcance.
    </p>
  </section>
</section>
