<section id="hero__">
  <h1 class="hero__title">agência de marketing</h1>
  <img
    src="identidade-visual-jump.svg"
    alt="Identidade visual vibrante e profissional da nossa agência de marketing, destacando nossa especialização em SEO e estratégias de tráfego orgânico."
    class="hero__logo"
    loading="lazy"
  />
  <img
    src="megafone.webp"
    class="hero__hero_cta_megaphone"
    alt="Amplifique sua marca: estratégias de marketing eficazes"
    loading="lazy"
  />
  <!--  -->
  <div class="hero__mouse_animation"></div>
  <button class="hero__cta_button" (click)="scrollToSection()">
    Entre em contato
    <div class="hero__cta_button__container_icon">
      <img
        src="arrow-up-right-svgrepo-com.svg"
        alt="Seta para direita"
        loading="lazy"
        class="hero__cta_button__icon"
      />
    </div>
  </button>
</section>
